@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@300;400&display=swap');

:root {
    --white: #f5f5f4;
    --gray: #dcdcdc;
    --sky-blue: #0ea5e9;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h4 {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    background-color: var(--sky-blue);
    padding: 0 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 60px 250px 100px;
    gap: 20px;
} 

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.logo-img {
    width: 30px;
    height: 50px;
}

.logo-txt {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);
}

.navigation ul,
.branding ul
{
    padding-left: 5px;
    display: grid;
    gap: 15px;
}

.navigation  li,
.branding li
{
    list-style-type: none;
}

.navigation li img,
.branding li img
{
    width: 20px;
    height: 20px;
}

.navigation li a,
.branding li a
{
    text-decoration: none;
    color: var(--white);

    display: flex;
    align-items: center;
    gap: 10px;
}

/* Header */

.header {
    background-color: var(--white);
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr minmax(50px, 100px) minmax(150px, 200px);
    grid-template-rows: 50px 60px;
    padding: 10px 20px;
} 

form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    gap: 10px;
}

button[type="submit"] {
    width: 10%;
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

button[type="submit"] img {
    width: 20px;
    height: 20px;
}

input[type="text"] {
    width: 90%;
    height: 20px;
    padding: 0px 10px;
    background-color: var(--gray);
    border: none;
    border-radius: 100vmax;
}

.noti {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.noti img {
    width: 20px;
    height: 20px;
}

.profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.greeting img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.interact {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.interact button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--sky-blue);
    cursor: pointer;
}

/* Main Content */

.main-content {
    background-color: var(--gray);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 10px 0 10px 10px;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
}

.card {
    height: 140px;
    min-width: 200px;
    max-width: 400px;
    background-color: var(--white);
    border-radius: 5px;
    border-left: 5px solid var(--sky-blue);
    box-shadow: 0px 2px 5px 1px #808080;
    padding: 8px 20px;

    display: flex;
    flex-direction: column;
}

.card p {
    font-size: 0.7rem;
}

.card p strong {
    font-size: 0.9rem;
}

.card .react {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 40px);
}


.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 10px;
}

.announce-card {
    background-color: var(--white);
    width: 250px;
    padding: 20px 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #808080;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3, fit-content);
    justify-content: center;
    gap: 20px;
}

.announce-text {
    font-size: 0.6rem;
}

.announce-text strong {
    font-size: 0.9rem;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
}

.trending img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.trending-card {
    background-color: var(--white);
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #808080;
}

.trending-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}